<style>
    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1000;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        /* display: flex; */
        align-items: center;
        /* Align vertical */
        justify-content: center;
        /* Align horizontal */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        /* Adjust to your preference */
        max-width: 600px;
        /* Maximum width for the modal */
        border-radius: 10px;
        /* Rounded corners for the modal */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Optional: Box shadow for the modal content */
        /* Remove margin if using flexbox for centering */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Modal actions */
    .modal-actions {
        text-align: center;
        /* Center align the action buttons */
    }

    .modal-actions .action-btn {
        margin: 0 10px;
        /* Spacing between buttons */
    }

    @media (max-width: 400px) {

        /* Adjust modal content padding for smaller screens */
        .modal-content {
            padding: 20px;
            /* Ensure there’s enough padding inside the modal */
        }

        /* Increase spacing between action buttons in the modal for smaller screens */
        .modal-actions .action-btn {
            display: block;
            /* Stack buttons vertically */
            width: auto;
            /* Use auto width for buttons to fit content */
            margin: 10px auto;
            /* Increase margin to 10px and center buttons */
        }
    }
</style>